.hero{
    background-image:url(../image/Aboutme.png);
    background-size: cover;
}

.card-2{
    background-color: #ffff66;
    color:#ff66ff;
}

.card-3{
    background-color: #ff5050;
    color:#0f3e3e;
}

@media (min-width: 1200px){
    .h-75vh{
        height:75vh;
    }
}
